:root {
  --main-background: #f1f5f9;
}


.darkmode {
  --main-background: #030712;
}

body {
  background-color: var(--main-background);
}

.logoImg {
  width: 63px;
}

.input-group {
  input {
    width: 260px ;
  } 
}

.mnr {
  position: absolute;
  background: #f1f5f9;
  padding: 10px;

  button {
    border: none;
    border-radius: 6px;
    background-color:  #f1f5f9;
    color: white;
    cursor: pointer;
  }
}

.searchBtn {
  background: none; 
  border: none;   
  padding: 0;    
  margin: 0;
  cursor: pointer;
}

.cardH {
  height: 400px;
}

.card1, .card2, .card3 {
  &:hover {
    transition: 0.3s ease;
    transform: scale(1.05);
    cursor: pointer;
  }
}

.card1 {
  background-image: url('https://cdn2.penguin.com.au/covers/original/9781779526076.jpg');
  background-size: cover;
  background-position: center;
  transition: 0.3s ease;
}

.card2 {
  background-image: url('https://m.media-amazon.com/images/I/81iqH8dpjuL.jpg');
  background-size: cover;
  background-position: 0px -60px;
  transition: 0.3s ease;
}

.card3 {
  background-image: url('https://m.media-amazon.com/images/I/71K-luk0zcL._UF894,1000_QL80_.jpg');
  background-size: cover;
  transition: 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

h3 {
  z-index: 2;
}

.hero {
  a {
    all: unset;
  }  
}

.card-text {
  font-size: 0.9em;
}

.logoImgFooter {
  width: 85px;
}
